
@{
    Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor;
<div class="col-md-6 offset-md-3">
  <div class="form-box">
    @using (Html.BeginForm())
    {
      <div class="form-header">Add A Doctor</div>
      <div class="form-body">
        <div class="form-group">
          @Html.LabelFor(model => model.Name)
          @Html.TextBoxFor(model => model.Name, new { @class="form-control", @placeholder = "Doctors's Name", required = "required"})
        </div>
        <div class="form-group">
          @Html.LabelFor(model => model.Specialty)
          @Html.TextBoxFor(model => model.Specialty, new { @class="form-control", @placeholder = "Specialty"})
        </div>
        <button type="submit" class="btn btn-primary btn-block">Add</button>
      </div>
    }
  </div>
</div>