@{
  Layout = "_Layout";
}

<h1>Welcome to the your friendly Doctors Office!!</h1>
<p>@Html.ActionLink("See all Doctors", "Index", "Doctors", null,  new { @class = "btn btn-success btn-large" } )</p>
<p>@Html.ActionLink("See all Patients", "Index", "Patients", null, new { @class = "btn btn-primary btn-large" } )</p>
<p>@Html.ActionLink("See all Specialties", "Index", "Specialtys", null, new { @class = "btn btn-primary btn-large" } )</p>